.colored-toast.swal2-icon-success {
    background-color: #28a745!important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #dc3545!important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #ffc107 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #0d6efd !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #607d8b !important;
  }
  
  .colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }

.card-footer{
  background-color: transparent;
  display: flex;
  justify-content: end;
}
.footer-btn{
  justify-content: center;
  align-items: center;
}

.newPostInput{
  width: 100%;
  background-color: rgba(0,0,0,.05);
  border-radius: 3px;
  padding: 5px;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
.inputTall{
  height: 8em;
}
.reply{
  height: 38px;
}

.list-group-flush>.list-group-item{
  border: 1px solid rgba(0, 0, 0, .125);
  border-width: 1px 0 0 0;
}

.image-container{
  margin: 20px -20px -20px -20px;
}
.image-container img{
  max-width: 100%;
  max-height: 100%;
}